* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #101010;
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 100%;
}

#titleBar {
    height: 30px;
    background-color: #141414;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
    -webkit-app-region: drag;
}

.buttons {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: no-drag;
}

.buttons > button {
    border: none;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    transition: .5s;
}

#minimizeButton {
    background-color: #cc753c;
}

#minimizeButton:hover {
    box-shadow: #cc753c 0 0 10px;
}

#maximizeButton {
    background-color: #59cc3c;
}

#maximizeButton:hover {
    box-shadow: #59cc3c 0 0 10px;
}

#closeButton {
    background-color: #cc3c3c;
}

#closeButton:hover {
    box-shadow: #cc3c3c 0 0 10px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.leftNavMenu {
    background-color: #181818;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.leftNavMenu > nav {
    width: 100%;
    height: 100%;
}

.leftNavMenu > nav > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftNavMenu > nav > ul > div {
    width: 100%;
}

.leftNavMenu > nav > ul > div > li {
    list-style-type: none;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

li > button {
    width: 100%;
    height: 85px;
    border: none;
    background: none;
    opacity: .6;
}

li > button:hover {
    background: #141414;
}

li > button.active {
    background: #141414;
    border-left: 3px #fff solid;
    opacity: 1;
}

li > button > img {
    width: 40%;
}

.pageContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Diary {
    width: 100%;
}

.Diary > .notes {
    display: flex;
    justify-content: center;
    height: 42vh;
}

.Note {
    position: absolute;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    transition: .3s;
    width: 60vh;
    height: 42vh;
}

.Note.lefter {
    transform: translateX(-120%) scale(.5);
    opacity: 0;
}

.Note.left {
    cursor: pointer;
    transform: translateX(-90%) scale(.7);
    opacity: .4;
}

.Note.focus {
    cursor: pointer;
    transform: translateX(0%) scale(1);
    opacity: 1;
}

.Note.right {
    cursor: pointer;
    transform: translateX(90%) scale(.7);
    opacity: .4;
}

.Note.righter {
    transform: translateX(120%) scale(.5);
    opacity: 0;
}

.Note > .top {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: flex-start;
}

.Note > .top > .left {
    display: flex;
}

.Note > .top > .left > img {
    margin-right: 15px;
    width: 60px;
}

.Note > .top > .left > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Note > .top > .left > div > .date {
    font-weight: bolder;
}

.Note > .top > .left > div > .mood {
    font-weight: bolder;
    font-size: 30px;
}

.Note > .top > button {
    background: none;
    border: none;
}

.Note > .top > button:hover {
    opacity: .9;
    transform: scale(.97);
}

.Note > .top > button > img {
    width: 30px;
}

.Note > .bottom > button {
    border: 1px solid #fff;
    border-radius: 30px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.Note > .bottom > button > img {
    width: 40px;
}